@import './base.css';
html {
  font-size: calc(100vw / 375 * 16); /* 基于设计稿宽度设置 rem 基准值 */
}
/* 基础样式，默认宽度为 100% */
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

/* 平板（pad）尺寸适配 */
@media screen and (max-width: 1024px) {
  body {
    max-width: 100%;
  }
}

/* 超过平板尺寸后，限制宽度为430px并居中 */
@media screen and (min-width: 1025px) {
  html {
    font-size: 19.2px; /* 固定 PC 端的 rem 基准值 */
  }
  body {
    max-width: 375px;
  }
}

/* 全屏模式（通过外层div设置 full 属性） */
.full {
  max-width: none;
  width: 100%;
  margin: 0;
}
